<Project>
  <PropertyGroup>
    <PublishDir>$(DesktopPublishPath)</PublishDir>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <Configuration>Release</Configuration>
    <PublishDir>$(DesktopPublishPath)</PublishDir>
  </PropertyGroup>
</Project>
